body {
  padding: 0;
  margin: 0;
}
div {
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
}
.top-bar {
  top: 0;
  left: 0;
}
.sky-bar {
  background-image: linear-gradient(to bottom, #17d 0, #28e 100%);
}
.black-bar {
  background-image: linear-gradient(to bottom, #3a3a3a 0, #060606 100%);
}
.white-bar {
  background-image: linear-gradient(to bottom, #f4f4f4 0, #e6e6e6 100%);
}

.notice-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #cfc;
}
.error-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcc;
}
.warning-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffc;
}
.information-box {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ccf;
}


.dialog {
  background-color: #fff;
  border: solid 1px #d6d6d6;
  border-radius: 20px;
  padding: 20px;
  width: 480px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form {
  border: solid 1px #aaa;
  border-radius: 5px;
  margin: 4px;
  padding: 16px;
}

form.horizontal label {
  width: 120px;
  padding: 2px;
  float: left;
}
input[type="text"] {
  display: block;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 4px;
  margin: 16px;
}

.btn {
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
