/* Nerdstrap Template Theme, CSS */
body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, ƒƒCƒŠƒI, sans-serif;
  color: #333;
  font-size: 18px;
  background-color: #f2f2f2
}
div {
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
}
h1 {
  margin: 0px;
  color: #3d3d3d;
  font-size: 220%;
}
ul {
  margin: 0;
}
