/* Nerdstrap Template Theme, CSS */
body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ÉqÉâÉMÉmäpÉS ProN W3', Meiryo, ÉÅÉCÉäÉI, sans-serif;
  color: #333;
  font-size: 18px;
  background-color: #f2f2f2
}
div {
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
}
h1 {
  margin: 0px;
  color: #3d3d3d;
  font-size: 220%;
}
h2 {
  color: #464646;
}
h3 {
  color: #4c4c4c;
  font-size: 120%;
}
ul {
  margin: 0;
}
footer {
  font-size: 16px;
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid #ccc;
}
